<header aria-label="Site Header" class="bg-white">
  <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
  <%= link_to products_path, class: "inline-flex h-10 w-10 items-center justify-center rounded-lg bg-gray-100" do %>
    <span class="sr-only">Home</span>
    👋
  <% end %>
    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Site Nav" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <%= link_to t('.categories'), categories_path, class: "text-gray-500 transition hover:text-gray-500/75" if Current.user&.admin? %>
          </li>

          <li>
            <%= link_to t('.favorites'), favorites_path, class: "text-gray-500 transition hover:text-gray-500/75" if Current.user %>
          </li>

          <li>
            <%= if Current.user
              link_to t('.add'), new_product_path,
              data: { turbo_frame: "modal" },
              class: "text-gray-500 transition hover:text-gray-500/75"
            end %>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <%= link_to t('.login'), new_session_path, class: "block rounded-md bg-blue-500 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-700" unless Current.user %>
          <%= link_to t('.register'), new_user_path, class: "hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-blue-500 transition hover:text-blue-600/75 sm:block" unless Current.user %>
          <%= if Current.user
                link_to t('.logout'), session_path(Current.user.id),
                data: { turbo_method: :delete, turbo_confirm: t('common.confirm')},
                class: "block rounded-md bg-blue-500 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-700"
              end %>
        </div>
        <div class="relative" data-controller="menu">
          <button class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden" data-action="click->menu#toggle">
            <span class="sr-only">Toggle menu</span>
            <%= image_tag "icons/menu.svg", class: "w-5 h-5" %>
          </button>
          <div class="absolute right-0 z-10 mt-2 w-56 rounded-md border border-gray-100 bg-white shadow-lg hidden" role="menu" data-menu-target="menu">
            <div class="p-2">
              <%= link_to t('.categories'), categories_path, class: "block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" if Current.user&.admin? %>
              <%= link_to t('.favorites'), favorites_path, class: "block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" if Current.user %>
              <%= if Current.user
                    link_to t('.add'), new_product_path,
                    data: { turbo_frame: "modal" },
                    class: "block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
