<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %> | <%= t('app_description') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", 'data-turbo-track': "reload" %>

    <%= stylesheet_link_tag "application", 'data-turbo-track': "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <% unless params[:controller].include? 'auth/' %>
      <%= render "shared/header" %>
      <%= render "shared/flash" %>
    <% end %>
  <%= yield %>
  <%= turbo_frame_tag "modal" %>
  </body>
</html>
